<%= form_for @link do |f| %>
  <%= render "form_errors", object: @link %>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>

  <%= f.submit "Submit" %>
<% end %>
